# Variables d'environnement pour les tests Cypress
# Copie ce fichier en .env et remplis-le avec tes vraies données

# Identifiants de test pour le login
CYPRESS_EMAIL=godowow793@soppat.com
CYPRESS_PASSWORD=m9o%OrtVIQNj

# Email pour l'inscription
CYPRESS_REGISTER_EMAIL=test@example.com
